<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB2ViSPozG4coTeXYJhiN44GGxlCTxSk8</string>
	<key>GCM_SENDER_ID</key>
	<string>1055741880730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inext.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>inext-c92e4</string>
	<key>STORAGE_BUCKET</key>
	<string>inext-c92e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055741880730:ios:f91f43feecadd0b7dab223</string>
</dict>
</plist>